{% extends 'base.html' %}
{% block title %} Notes {% endblock %}

{% block content %}

    <style>
        .note-item {
            border-bottom: 2px solid #ccc;
            padding-bottom: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .note-content{
            flex: 1;
        }

        #delete_button{
            background-color: red;
            color: white;
            transition: background-color 0.3s ease-in-out; /* fucking god of an transition, use this for every button */
            border: 1px solid #4a1818;
            
        }
        #delete_button:hover{
            background-color: darkred;
        }

        #anchortransition{
            
            transition: background-color 0.3s ease-in-out; 
            
        }
            
            
        

       

        #edit_button{
            background-color: rgb(175, 190, 13);
            color: white;
            transition: background-color  0.5s ease-in-out;
            border: 1px solid rgb(100, 97, 11);}

        #edit_button:hover{
            background-color: rgb(100, 97, 8);
        }
           
        #Search_button{
            transition: background-color  0.4s ease-in-out;
            border: 1px solid rgb(12, 88, 54);}
        
        

    </style>

    <h1>Notes:</h1>

    <div class="SearchBar">
        <form class="d-flex" method="get" action="{% url 'search_bar' %}">
            <input class="form-control me-2" type="search" name="search_query" placeholder="Search Notes">
            <button id="Search_button" class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>

    <ul>
        {% for note in notes %}
            <li class="note-item">
                <div class="note-content">
                    <p><strong>User:</strong> 
                        {% if note.author %}{{ note.author }}
                        {% else %}
                            Undefined
                        {% endif %}
                    </p>
                    <p><strong>Note:</strong>{{note.description}}</p>
                    <p><strong>Posted:</strong>{{note.posted_time|date:"F d, Y H:i:s" }}</p>
                    <p><strong>{{ note.posted_time|timesince }}</strong> ago</p>
                </div>
        
                <div><form method="POST" action="{% url 'delete_note' note_id=note.id %}">
                    {% csrf_token %}
                    <button type="submit" id="delete_button">Delete</button>
                    </form>
                    <form method="POST" action="{% url 'edit_note' note_id=note.id %}">
                        {% csrf_token %}
                        <button type="submit" id="edit_button">Edit</button>
                        </form>
                </div>

            </li>

        {% endfor %}
    </ul>
    <button ><a class="btn btn-outline-success" id="anchortransition" href="{% url 'create_note' %}">New Note</a></button>

{% endblock %}