{% extends 'base.html' %}
{% block title %} Notes {% endblock %}

{% block content %}

    <style>
        .note-item {
            border-bottom: 2px solid #ccc;
            padding-bottom: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .note-content{
            flex: 1;
        }

        #delete_button{
            background-color: red;
            color: white;
            transition: background-color 0.3s ease-in-out; /* fucking god of an transition, use this for every button */
            border: 1px solid #4a1818;
            
        }
        #delete_button:hover{
            background-color: darkred;
        }

        #NoteButton{
            background-color: #28a745;
            transition: background-color 0.3s ease-in-out; 
            color: rgb(255, 255, 255);
            
        }

        #NoteButton:hover{
            background-color: rgb(8, 106, 31);

        }

        #edit_button{
            background-color: rgb(175, 190, 13);
            color: white;
            transition: background-color  0.5s ease-in-out;
            border: 1px solid rgb(100, 97, 11);}

        #edit_button:hover{
            background-color: rgb(100, 97, 8);
        }
                

    </style>

    <h1>Notes:</h1>

    <ul>
        {% for note in notes %}
            <li class="note-item">
                <div class="note-content">
                    <p><strong>User:</strong>{{note.author}}</p>
                    <p><strong>Note:</strong>{{note.description}}</p>
                    <p><strong>Posted:</strong>{{note.posted_time|date:"F d, Y H:i:s" }}</p>
                    <p><strong>{{ note.posted_time|timesince }}</strong> ago</p>
                </div>
        
                <div><form method="POST" action="{% url 'delete_note' note_id=note.id %}">
                    {% csrf_token %}
                    <button type="submit" id="delete_button">Delete</button>
                    </form>
                    <form method="POST" action="{% url 'edit_note' note_id=note.id %}">
                        {% csrf_token %}
                        <button type="submit" id="edit_button">Edit</button>
                        </form>
                </div>

            </li>

        {% endfor %}
    </ul>
    <button class="btn btn-success" id="NoteButton"><a href="{% url 'create_note' %}">New Note</a></button>

{% endblock %}