{% extends 'base.html' %}
{% block title %}Sign-up{% endblock %}
{% block content %}

    <style>#username{
        margin-bottom:10px;
    }
    
    #password{
        margin-bottom:20px;
    }</style>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control">
            {% if form.errors.username %}
                <div class="text-danger">{{ form.errors.username }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
            {% if form.errors.password %}
                <div class="text-danger">{{ form.errors.password }}</div>
            {% endif %}
        </div>

        

        <button type="submit" class="btn btn-success">Sign-up</button>
    </form>
    <p>have an account? login<a href="{% url 'login' %}"> here</a></p>

    {% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    
{% endblock %}